

.container{  
  background-color:blue;
  border: red 2px solid;
 font-weight: bold;
   margin-left: auto;
  margin-right: auto;
  }
  .form-inline{
    margin-bottom: 20px;

    }
  .row{
  width: auto;
  margin-left: auto;
  margin-right: auto;
   font-weight: bold;
}

.car{
   width: auto;
  margin-left: auto;
  margin-right: auto;
   background-color:blue;
  border: red 2px solid;
   font-weight: bold;
}